.banner .navbar-header h1 a {
    padding: 0.5rem;
    background-color: #ffffff;
    opacity: 0.7;
}
    .banner .navbar-header h1 a img.kiwing-name-img {
        width: 12rem;
    }
    .banner .navbar-header h1 a img.kiwing-bird-img {
        width: 9rem;
    }

.banner .collapse.navbar-collapse ul.nav.navbar-nav.nav-center {
    margin: 0 3%;
}
.banner .collapse.navbar-collapse ul.nav.navbar-nav {
    padding-top: 2.3em;
}

.social-button.github:before {
    background-color: #d1d5da;
}
.social-button.github .fa {
    color: #24292e;
}

@media (max-width: 384px) {

}

@media (max-width: 414px) {

}

@media (max-width: 767px) {
    .banner .navbar-header h1 a {
        display: initial;
    }
        .banner .navbar-header h1 a img.kiwing-name-img {
            width: 7rem;
        }
        .banner .navbar-header h1 a img.kiwing-bird-img {
            width: 5.5rem;
        }
}

@media (max-width: 991px) {
    .banner .navbar-header h1 a {
        display: initial;
        padding-bottom: 1rem;
    }
        .banner .navbar-header h1 a img.kiwing-name-img {
            width: 9rem;
        }
        .banner .navbar-header h1 a img.kiwing-bird-img {
            width: 6rem;
        }

    .banner .collapse.navbar-collapse ul.nav.navbar-nav.nav-center {
        margin: 0 1%;
    }
    .banner .collapse.navbar-collapse ul.nav.navbar-nav {
        padding-top: 1.3em;
    }
}

@media (max-width: 1080px) {
    .banner .collapse.navbar-collapse ul.nav.navbar-nav.nav-center {
        margin: 0 2%;
    }
}
