header a.navbar-brand img {
    width: 12rem;
    height: 4.5rem;
}

#home.jumbotron.jumbotron-main img {
    width: 20rem;
}

#home.jumbotron.jumbotron-main p.bottomReveal {
    font-weight: 300;
}

#ideology .testimonial-carousel .carousel-inner .item span {
    font-style: italic;
    font-weight: 300;
    font-size: 2rem;
}